body {
    background-image: url("../../../assets/home2.png"); /* Define a imagem de fundo */
    background-size: cover; /* Garante que a imagem de fundo cubra toda a área */
    background-position: center; /* Centraliza a imagem de fundo */
    color: white; /* Define a cor do texto como branco */
    font-weight: bold; /* Define todas as letras como negrito */
}

input {
    width: 100%;
    height: 45px;
    border: 0;
    background: none;
    border-bottom: 2px solid #fff;
    outline: 0;
    color: #fff;
    font-size: 20px;
}

input::placeholder {
    color: #ffffffc5;
    opacity: 1;
}

input::-ms-input-placeholder {
    color: #ffffffc5;
    opacity: 1;
}

.white-button {
    margin-top: 25px;
}