body {
    background-color: #fff; /* Define o fundo da página com a cor branca */
    color: #000; /* Define a cor do texto como preto */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centraliza horizontalmente */
}

.container div {
    margin-bottom: 20px;
}

form {
    margin-top: 20px; /* Adiciona espaço acima do formulário */
}

.golden-button {
    background-color: #CBA35C; /* Cor dourada */
    color: white;
    border: none; /* Remove a borda */
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}
p {
    font-family: "Cardo", serif;
    font-size: 20px;
}

h3 {
    font-family: "Cardo", serif;
    font-style: italic;
    font-size: 30px;
}